language: node_js
node_js:
  - "12"
cache: npm

install:
  - npm install
  - npm install -g firebase-tools

script:
  - CI=false npm run build

after_success:
  - firebase deploy --token $FIREBASE_TOKEN
